@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var content = (ContentModels.BlockText)Model.Content;
    var settings = (ContentModels.GenericBlockSettings)Model.Settings;
    var i=1;
}

@if (settings.Value("disableSection").ToString()!="True"){

    <div class="container">
        @if (content.Value("title").ToString()!=""){
            <h2>@Html.Raw(content.Value("title"))</h2> 
        }
        <div class="mt-4">
            @Html.Raw(content.Value("text").ToString())
        </div> 
    </div>      
}




